body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .update-time {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
  }
  
  .dish-img {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px auto 0;
  }
  /*新增样式，用于包裹页面主要内容的容器*/
  .container {
    width: 800px; /* 可以根据需要调整宽度 */
    margin: 0 auto; /* 左右自动外边距，实现居中 */
  }
  p{
    font-family: "宋体";
    text-indent: 2em;
    line-height:20px;
  }